<table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">Carrito</th>
      </tr>
      <tr>
        <th>Articulo</th>
        <th>Cantidad</th>
        <th>Suma</th>
      </tr>
    </thead>
    <tbody>
        {% if request.session.carrito.items %}
            {% for key, value in request.session.carrito.items %}
                <tr class="text-center">
                    <td>{{value.nombre}}</td>
                    <td>{{value.cantidad}}</td>
                    <td>
                        <a href="{% url 'carrito:quitar' value.articulo_id %}" class="btn btn-sm btn-success">-</a>
                        <a href="{% url 'carrito:agregar' value.articulo_id %}" class="btn btn-sm btn-success">+</a><br/>
                        ${{value.precio}}
                    </td>
                </tr>

            {% endfor %}
        {% else %}
            <tr>
                <td colspan="3">
                    <div class="alert alert-danger text-center">Aun no se han agregado articulos</div>
                </td>
            </tr>
        {% endif %}
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3">
                Total: ${{importe_total_carrito}}
            </td>
        </tr>
        {% if request.session.carrito.items %}
        <tr>
            <td colspan="3" style="text-align: center;">
                <a href="../pedidos" class="btn btn-sm btn-success">Comprar</a>
            </td>
        </tr>
        {% endif %}
    </tfoot>
  </table>